
{% extends "layout.html.twig" %}

{% block title %} Detail {% endblock %}

{% block main %}
<div class="inside">
    <div class="site-title">
        <h1>Detail {{ wish.title }}</h1>
    </div>
    <div class="content">
        <p>
            {{ wish.description }}
        </p>
        <small>{{ wish.author}}</small>
        <p>
            {{ wish.dateCreated | date("d-m-Y") }}
        </p>
    </div>
</div>
{% endblock %}