{% extends "layout.html.twig" %}

{% block title %} Liste {% endblock %}

{% block main %}
<div class="inside">
    <div class="site-title">
        <h1> Liste wishes</h1>
    </div>
    <div class="content">
        {% for wish in wishes %}
            <a href="{{ path('app_wish_detail',{'id':wish.id}) }}"> <h2>{{wish.title}}</h2> </a>
        {% endfor %}
    </div>
</div>
{% endblock %}